
p a {
color:blue;
text-decoration:underline;
}
label {
	font-weight: bold;
}

.red {
	color: rgb(204,90,90);
}

.checkbox {
	display: none;
}


#searchWrapper {
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
}

.searchBar {
	width: 100%;
}

#searchResults {
	width: 100%;
}

.searchElement{
	padding: 5px 0px;
	border-bottom: 0.5px rgba(200,200,200,0.8) solid;
}

.faqContainer {
text-align:left;
}
